<img src="https://i.redd.it/6brfmxf7b8ga1.png" alt="Italian Trulli">

### Exercise on data types

## <font color='red'>What data type would that be?</font>

#### x = 5
#### print(type(x))

#### x = "Hello World"
#### print(type(x))

#### x = 20.5
#### print(type(x))

#### x = ["apple", "banana", "cherry"]
#### print(type(x))

#### x = ("apple", "banana", "cherry")
#### print(type(x))

#### x = {"name" : "John", "age" : 36}
#### print(type(x))

#### x = True
#### print(type(x))

## Exercise on Numbers

#### Insert the correct syntax to convert x into a floating point number.

In [ ]:
x=5.0
print(type(x))

### Insert the correct syntax to convert x into a integer.

In [ ]:
int(x)

## Exercise on string

### Use the `len()` function to print the length of the string.

In [ ]:
Y="TarekSalah"
len(Y)

### Get the first character of the string txt.

In [ ]:
print(Y[0])

### Get the characters from index 2 to index 4 (llo).

In [ ]:
print(Y[2:4:1])

### Convert the value of `txt` to upper case.

In [ ]:
Y=Y.upper()

### Convert the value of `txt` to lower case.

In [ ]:
Y=Y.lower()

#### Replace the character` H` with a `J`

In [ ]:
Y.replace("t","j")

#### Insert the correct syntax to add a placeholder for the age parameter.

In [ ]:
A=27
print(f"My Name is {Y},and i am {A} Years Old")

### Exercise on Booleans

The statement below would print a Boolean value, which one?

In [ ]:
X=10>9
print((X))

The statement below would print a Boolean value, which one?

In [ ]:
num=10==9
print((num))

The statement below would print a Boolean value, which one?

In [ ]:
X1=10<9
print((X1))

### <font color='gold'>Exercise-1</font>

#### Write a Python program to print the following string in a specific format

In [ ]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \nUp above the world so high, \n\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

### <font color='gold'>Exercise-2</font>

#### Write a Python program that print the user's first and last name and

---

prints them in reverse order with a space between them.

---

In [ ]:
name1 ="Mohamed"
name2 = "Tarek"
print(name1+ " " + name2)

### <font color='gold'>Exercise-3</font>

#### Write a Python program that calculates the area of a circle and radius = 1.1

In [ ]:
r = 1.1
A = 3.14 * r ** 2
print(A)

### <font color='gold'>Exercise-4</font>

#### Write a Python program that accepts a filename from the user and prints the extension of the file.

Sample Output:
Input the Filename: abc.java                                                                                  
The  extension of the file is : 'java'

In [ ]:
x1=input("Please add file name")
x2= x1.split(".")
print(x2[-1])

### <font color='gold'>Exercise-5</font>

#### Covert from string to list and tuple value ="Amit"

 ## After that

### Relace the index 3 in the list

 ### Convert the list to string and print the list

In [ ]:
X4 ="Amit"
tup1 = tuple(X4)
lis1=list(X4)
print('List : ', lis1)
print('Tuple : ', tup1)
lis1[3]="E"
print(lis1)

### <font color='gold'>Exercise-6</font>

#### Write a Python program to display the first and last colors from the following list.

#### color_list = ["Red","Green","White" ,"Black"]

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-8.png" alt="Italian Trulli">

In [ ]:
colors = ["Red", "Green", "White", "Black"]
print((colors[0], colors[-1]))

## <font color='gold'>Exercise-7</font>

#### Write a Python program to print the following 'here document'.

In [ ]:
#Sample Output:
# a string that you "don't" have to escape
# This
# is a  ....... multi-line
# heredoc string --------> example

## <font color='gold'>Exercise- 8</font>

###### I need to  check if  link `https://www.google.com/` strart with https or not and if the ` aimt4536@gmail.com` end with .com

In [ ]:
x6='https://www.google.com/'
print(x6.startswith("https"))
x7="adsadasda@gmail.com"
print(x7.endswith(".com"))

# Thanks ‚ù§

<img src="https://pbs.twimg.com/media/ELwC6EgXYAE8AtN.jpg" alt="Italian Trulli">